.article{
    justify-content: center;
    display: flex;
    background-color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    border: solid;
}
.article__title{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.article__body{
    font-family: monospace;
    font-size: 1rem;
}
.article__new{
    display: grid;
}
.article--black{
    background-color: black;
}
.article--red{
    background-color: red;
}
.article--white{
    background-color: white;
}
.article--big{
    font-size: large;
}
.article--small{
    font-size: small;
}